:root {
    /* Paleta de Cores "Matrix Moderno" */
    --bg-dark: #0a0a0a;
    --bg-card: #111111;
    --primary: #48BC41;
    --primary-dim: #2a6627;
    --text-main: #e0e0e0;
    --text-muted: #888888;
    
    /* Fontes */
    --font-display: 'VT323', monospace;
    --font-body: 'Space Grotesk', sans-serif;
}